@import "vars.css";

.scoresContainer{
	column-width:400px;
	column-count:2;
	column-gap:30px;
	margin-top:20px;

	@media screen and (max-width: 400px){
		column-count:1;
	}
}

.score{
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:0.5px solid color(var(--color-dark) alpha(-70%));
	color:color(var(--color-dark) alpha(-30%));

	/* Flex layout */
	display:flex;
	flex-direction:row;

	/* SUPER janky fix for chrome */
	/* http://stackoverflow.com/a/28618965 */
	transform: translateZ(0);
}

.score:nth-child(-n+3){
	/* First three scores */
	font-size:22px;
	font-weight:bold;
	height:50px;
	line-height:50px;
	color:var(--color-dark);
}

.score:nth-child(1){
	background-color:var(--color-primary);
	color:var(--color-white);
	border-radius:5px;
	font-size:24px;
	height:60px;
	line-height:60px;
	color:white;
	font-weight:bold;
	border:none;
}

.place{
	display:inline-block;
	width:25px;
	text-align:right;
	margin-right:8px;

	/* fixed width */
	flex:none;
}

.name{
	overflow:hidden;
	text-overflow:ellipsis;

	/* Don't crowd the score */
	padding-right:5px;

	/* expand to take up space */
	flex:1 1 auto;
}

.scoreNumber{
	font-style:bold;
	float:right;
}
